html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  min-height: 100%;
  max-width: 1000px;
  margin: 150px auto 200px;
}
.chip {
  cursor: pointer;
}
.chip.disabled {
  color: #bbb;
}

.space-right {
  margin-right: 5px;
}
.space-bottom {
  margin-bottom: 5px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.logo {
  font-family: 'Londrina Outline';
}
.clearfloat {
  clear: both;
}
