footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  color: #666;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid #eee;
  opacity: 0.92;
  z-index: 1000;
}
